body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  counter-reset: animationGame;
}

.total-score {
  text-align: center;
}

.total-score::after {
  content: counter(animationGame);
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ccefff;
  z-index: 20;
}

.layer {
  position: absolute;
}

.layer-1 {
  z-index: 1
}

.layer-2 {
  z-index: 2
}

.layer-3 {
  z-index: 3
}

.layer-4 {
  z-index: 4
}

.layer-5 {
  z-index: 5
}

.layer-6 {
  z-index: 6
}

.layer-7 {
  z-index: 7
}

.layer-8 {
  z-index: 8
}

.layer-9 {
  z-index: 9
}

.layer-10 {
  z-index: 10
}

.layer input[type="checkbox"],
.layer input[type="checkbox"]:focus {
  position: absolute;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 80px;
  z-index: 1;
  margin: 0;
}

.layer input[type="checkbox"]:checked {
  counter-increment: animationGame;
}

@keyframes layer {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
  }
}

.layer-1 {
  height: 450px;
  width: 80px;
  bottom: 0;
  right: 60px;

  animation: layer 1s infinite ease;
}

.layer-2 {
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 60px;

  animation: layer 1.5s infinite ease-out;
}

.layer-3 {
  height: 400px;
  width: 85%;
  background-color: #b18d50;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.layer-4 {
  height: 350px;
  width: 80px;
  bottom: 0;
  left: 45px;

  animation: layer 0.8s infinite ease-in;
}

.layer-5 {
  height: 300px;
  width: 70%;
  background-color: #b18d50;
  bottom: 0;
  left: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.layer-6 {
  height: 250px;
  width: 80px;
  bottom: 0;
  right: 25px;

  animation: layer 0.4s infinite ease-in-out;
}

.layer-7 {
  height: 200px;
  width: 50%;
  background-color: #b18d50;
  bottom: 0;
  right: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.layer-8 {
  height: 150px;
  width: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.layer-9 {
  height: 125px;
  width: 40%;
  bottom: 0;
  left: 0;
}

.layer-10 {
  height: 125px;
  width: 40%;
  bottom: 0;
  right: 0;
}

.ear {
  height: 30px;
  width: 30px;
  background-color: #4d4d4d;
  border-radius: 40px 40px 0 0;
  position: absolute;
}

.left-ear {
  left: 8px;
  top: 10px;
  transform: rotate(-30deg);
}

.right-ear {
  right: 8px;
  top: 10px;
  transform: rotate(30deg);
}

.head {
  position: absolute;
  background-color: white;
  border: 1px solid #4d4d4d;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.eye-container {
  background-color: #4d4d4d;
  height: 16px;
  width: 12px;
  position: absolute;
  border-radius: 50% 50% 40% 40%;
}

.left-eye-container {
  top: 10px;
  left: 15px;
  transform: rotate(30deg);
}

.right-eye-container {
  top: 10px;
  right: 15px;
  transform: rotate(-30deg);
}

.eyes {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50% 50% 40% 40%;
  position: absolute;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    height: 8px;
  }

  10% {
    transform: translate(0, 4px);
    height: 1px;
  }

  15% {
    transform: translate(0, 0);
    height: 8px;
  }
}

.left-eye {
  top: 2px;
  left: 1.8px;
}

.right-eye {
  top: 2px;
  left: 2px;
}

.nose {
  height: 6px;
  width: 9px;
  background-color: black;
  border-radius: 80% 80% 80% 80%;
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.layer-3::after,
.layer-5::after,
.layer-7::after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  background: linear-gradient(-135deg, #036d2f 25%, transparent 25%) -50px 0,
    linear-gradient(135deg, #036d2f 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, #036d2f 25%, transparent 25%),
    linear-gradient(-45deg, #036d2f 25%, transparent 25%);
  background-size: 30px 90px;
  border-radius: 20px;
}

.layer-3::before,
.layer-5::before,
.layer-7::before {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: 14px;
  background: linear-gradient(-135deg, #02813c 25%, transparent 25%) -50px 0,
    linear-gradient(135deg, #02813c 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, #02813c 25%, transparent 25%),
    linear-gradient(-45deg, #02813c 25%, transparent 25%);
  background-size: 30px 100px;
  background-position: 130px 0 0 30px;
}

.lawn-left {
  background-color: green;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 70%;
  left: 0;
  position: absolute;
  width: 80px;
}

.lawn-center {
  background-color: green;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  left: 60px;
  position: absolute;
  width: 80px;
}

.lawn-right {
  background-color: green;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 80%;
  left: 130px;
  position: absolute;
  width: 80px;
}

.layer-9-cloud-left {
  background-color: honeydew;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 80px;
}

.layer-9-cloud-right {
  background-color: honeydew;
  border-radius: 0px 40px 30px 0;
  bottom: 0;
  display: inline-block;
  height: 60%;
  left: 79px;
  position: absolute;
  width: 40px;
}

.layer-10-cloud-left {
  background-color: honeydew;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  right: 0;
  position: absolute;
  width: 80px;
}

.layer-10-cloud-right {
  background-color: honeydew;
  border-radius: 40px 0 0 30px;
  bottom: 0;
  display: inline-block;
  height: 60%;
  right: 79px;
  position: absolute;
  width: 40px;
}

@media (min-width: 768px) {
  .layer-1 {
    right: 160px;
  }

  .layer-2 {
    left: 160px;
  }

  .layer-4 {
    left: 280px;
  }

  .layer-6 {
    right: 280px;
  }
}

@media (min-width: 1024px) {
  .layer-1 {
    right: 60px;
  }

  .layer-2 {
    left: 60px;
  }

  .layer-4 {
    left: 45px;
  }

  .layer-6 {
    right: 30px;
  }

  .background {
    border: 8px solid black;
    border-radius: 32px;
    height: 600px;
    width: 300px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .layer-10-cloud-left {
    border-radius: 40px 40px 20px 0;
  }

  .layer-9-cloud-left {
    border-radius: 40px 40px 0 20px;
  }
}